.doctor-detail-container{
    
    height: 500px;
    
    

    .intro-doctor{
        display: flex;
        margin: 0 100px;

        
        .content-left{
            width: 20%;
            width: 150px;
            height: 140px;
            border-radius: 50%;
            margin: 10px 20px;
            background: url('https://cdn.iconscout.com/icon/free/png-256/doctor-1659516-1410038.png') center center no-repeat;
        }
        .content-right{
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up{
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }

            .down{
                padding-top: 15px;
            }
        }
    }

    .detail-infor-doctor{
        border: 1px solid #ccc;
        padding: 10px 100px;

        background-color: #f9f9f9;
        h3{
            font-size: 17px;
            
        }
    }
}