.doctor-schedule-container{

    height:100%;
    border-right: 1px solid grey;
    .all-schedule{

        select{
            background: transparent;
            border: none;
            color: #337ab7;
            border-bottom: 1px solid #999;
            border-radius: 0;
            font-weight: bold;
            padding: 3px;
            outline: none;
            option{
                cursor: pointer;
            }


            

        }

    }

    .all-available-time{
        .text-calendar{
            // color: #333;
            margin: 10px 0 ;
           
            span{
                text-transform: uppercase; 
                margin-left: 10px;
            }

            
        }

        .time-content{
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            

            button {
                padding: 10px 0px;
                border: none;
                outline: none;
                background-color: #49abe1;
                min-width: 120px;
                
                border-radius: 3px;
                font-weight: 600;
                color: #333;
                &:hover {
                    background-color: #e9bf41;
                    color: white;
                }
            }
        }

        .book-free{
            margin-top: 10px;
        }
    }
}